*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #3990a5;
   
}

.styling{
    position: relative;
    height: 100vh;
}

.styling video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#bg-video{
    position: 200vw;
    height: 200vh;
    object-fit: cover;
    z-index: -1;
}

.text{
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.text span{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 10vw;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2vw;
    text-shadow: 0 15px 25px rgb(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(100vh) scale(0);
    animation: popOut 3s forwards;
}

.text span a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 1px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
    letter-spacing: normal;
    position: relative;
    transform: translateY(100vh) scale(0);
    animation: popOut 3s forwards;
}

    @keyframes popOut {
        0% {
            opcaity: 0;
            transform: translateY(100vh) scale(0);
        }
        80% {
            opacity: 1;
            transform: translateY(-20vh) scale(0);
        }
        100% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

.text span:nth-child(1){
    animation-delay: 10s;
}

.text span:nth-child(2){
    animation-delay: 10s;
}

.text span:nth-child(3){
    animation-delay: 10s;
}

.about {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 0px;
    overflow: hidden;
}

.about img {
    width: 100%;
    height: auto;
    opacity: 90%

}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.clickable b{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;

}

.clickable b:hover, .clickable b.active{
    color: #f1c40f;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-content{
    background-color: rgb(54, 52, 52);
    width: 700px;
    height: 500px;
    position: relative;

}

.about-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #fff;
}

.about-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #686363;
}

.about-content p{
    font-size: 24px;
    margin: 20px 0;
    display: block;
}

.socials{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    
    
}

.socials a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #1e4967;
    border-radius: 50%;
    font-size: 20px;
    color: #1e4967;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #731010;
    z-index: -1;
    transition: .5s;

}

.socials a:hover::before{
    width: 100%;

}



.music {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;

}

.img {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 900px;
}

.songpic img {
    background-color: #fff;
    width: 350px;
    height: 400px;
    border-radius: 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin-right: 100px;
}

.artist, .title {
    font-size: 1.2rem;
    text-align: center;
    color: #3e3a3a;
    margin-right: 100px;
    
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 300px;

} 

.h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    margin-right: 500px;
    
}

.h3{
    font-size: 1rem;
    text-align: center;
    color:#110f0f;
}



.title{
    font-weight: 400;
    font-size:2em;
    color: #110f0f;
    text-align: left;
    position: relative;
    display: inline-flex;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 150px;
}


.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.butns{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    right: 350px;
    
 
}

.butns span{
    position: relative;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #221c1c;
    cursor: pointer;
    box-shadow: inset 0 -4px 4px rgb(0, 0, 0, 0.1),
                0 5px 10px rgb(0, 0, 0, 0.1),
                0 10 15px rgb(0, 0, 0, 0.1);

}

.butns span:active{
    color:rgb(61, 102, 65);
    box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.1),
                inset 0 5px 10px rgba(0, 0, 0, 0.15);
    
}

.butns span.playpause{
    width: 50px;
    height: 40px;
}

.butns span ion-icon{
    font-size: 5em;
}

.butns span.playpause ion-icon{
    font-size: 10em;
}

.butns span i {
    font-size: 2em; /* Adjust the font size of the icons */
}
