*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

}

.styling{
    position: relative;
    height: 100vh;
}

.styling video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#bgvidz {
    position: fixed; /* Position the video fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire viewport */
    z-index: -1; /* Place the video behind other content */
}

#bg-video{
    position: 200vw;
    height: 200vh;
    object-fit: cover;
    z-index: -1;
}

.text{
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.text span{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 10vw;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2vw;
    text-shadow: 0 15px 25px rgb(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(100vh) scale(0);
    animation: popOut 3s forwards;
}

.text span a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 1px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
    letter-spacing: normal;
    position: relative;
    transform: translateY(100vh) scale(0);
    animation: popOut 3s forwards;
}

    @keyframes popOut {
        0% {
            opcaity: 0;
            transform: translateY(100vh) scale(0);
        }
        80% {
            opacity: 1;
            transform: translateY(-20vh) scale(0);
        }
        100% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

.text span:nth-child(1){
    animation-delay: 10s;
}

.text span:nth-child(2){
    animation-delay: 10s;
}

.text span:nth-child(3){
    animation-delay: 10s;
}

.about {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 0px;
    overflow: hidden;
}

.about img {
    width: 100%;
    height: auto;
    opacity: 90%

}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.clickable b{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;

}

.clickable b:hover, .clickable b.active{
    color: #f1c40f;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-content{
  
    font-size: 20px; 
    line-height: 1.6;

}

.about-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #fff;
}

.about-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #686363;
}

.about-content p{
    font-size: 24px;
    margin: 20px 0;
    display: block;
}

.socials{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    
    
}

.socials a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #1e4967;
    border-radius: 50%;
    font-size: 20px;
    color: #1e4967;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #222121;
    z-index: -1;
    transition: .5s;

}

.socials a:hover::before{
    width: 100%;

}



.container {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 150px; /* Adjust the bottom margin to add more space */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #675e5e;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.463);
}

.hd {
    text-align: center;
    padding: 15px 0;
}

.hd h1 {
    margin-bottom: 10px;
    color: #ffffff;
}

.hd p {
    margin-bottom: 20px;
    color: #921e1e;
}

.content {
    display: flex;
    flex-direction: row-reverse; /* Reversed the flex direction to align items to the right */
}

.image {
    flex: 1;
    text-align: center;
    margin-left: 20px; /* Added margin to create space between the image and table */
}

.image img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(56, 54, 54, 0.814);
}

.bio {
    flex: 2;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
}

td {
    color: #f8e2e2;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

.container {
    background-color: rgba(206, 195, 195, 0.786); /* Set the background color to white */
}



