* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {}

.styling {
    position: relative;
    height: 100vh;
}

.styling video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#bgvidz {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#bg-video {
    position: 200vw;
    height: 200vh;
    object-fit: cover;
    z-index: -1;
}

.text {
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.text span {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 10vw;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2vw;
    text-shadow: 0 15px 25px rgb(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(100vh) scale(0);
    animation: popOut 3s forwards;
}

.text span a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 1px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
    letter-spacing: normal;
    position: relative;
    transform: translateY(100vh) scale(0);
    animation: popOut 3s forwards;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px;
    background-color: rgb(107, 98, 98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    animation: popOut2 13.4s forwards;

}


.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.clickable a {
    font-size: 12px;
    color: #242222;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    display: inline-block;
    padding-right: 45px;

}

.clickable a:hover,
.clickable a.active {
    color: #fff3f3;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: translateY(100vh) scale(0);
    }

    80% {
        opacity: 1;
        transform: translateY(-20vh) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes popOut2 {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }

    80% {
        opacity: 0;
        transform: translateY(-20vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text span:nth-child(1) {
    animation-delay: 10s;
}

.text span:nth-child(2) {
    animation-delay: 10s;
}

.text span:nth-child(3) {
    animation-delay: 10s;
}

.about {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 0px;
    overflow: hidden;
}

.about img {
    width: 100%;
    height: auto;
    opacity: 90%
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

.container {
    background-color: rgba(206, 195, 195, 0.786);
}

@media screen and (max-width: 991px) {

    .menu {
        padding: 0px 20px;
    }

    .clickable a {
        font-size: 11px;
        margin-left: 0px;
    }

    .logo {
        font-size: 25px;
    }

    .title h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 767px) {

    .menu {
        padding: 0px 20px;
    }

    .clickable a {
        font-size: 9px;
        padding-right: 35px;
    }

    .title h1 {
        font-size: 20px;
    }
}




@media screen and (max-width: 479px) {

    .clickable a {
        font-size: 8px;
        padding-right: 30px;

    }

    .logo {
        font-size: 20px;
    }

    .title h1 {
        font-size: 18px;
    }
}