.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-desktop1 {
  width: 100%;
  height: 998px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle6 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle7 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle8 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-gradient {
  top: -28px;
  left: -361px;
  width: 2674px;
  height: 690px;
  position: absolute;
}
.desktop1-text {
  top: 387px;
  left: 630px;
  color: rgba(255, 255, 255, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text002 {
  top: 349px;
  left: 1055px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text004 {
  top: 354px;
  left: 1270px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text006 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle3 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign12 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-text008 {
  top: 501px;
  left: 154.4095458984375px;
  color: rgb(167, 157, 157);
  width: 1292px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame2 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-desktop4 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle5 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle601 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle701 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle801 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-gradient01 {
  top: -34px;
  left: -14px;
  width: 1670px;
  height: 698px;
  position: absolute;
}
.desktop1-text009 {
  top: 387px;
  left: 630px;
  color: rgba(255, 255, 255, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text011 {
  top: 338px;
  left: 414px;
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text013 {
  top: 344px;
  left: 1034px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text015 {
  top: 346px;
  left: 1270px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text017 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle301 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign11 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1201 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame201 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text019 {
  top: 503px;
  left: 107px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop5 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle1 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle501 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle602 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle702 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle802 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-gradient02 {
  top: -2px;
  left: -1042px;
  width: 2674px;
  height: 690px;
  position: absolute;
}
.desktop1-text020 {
  top: 401px;
  left: 485px;
  color: rgba(255, 255, 255, 1);
  width: 583px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text022 {
  top: 346px;
  left: 431px;
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text024 {
  top: 351px;
  left: 1020px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text026 {
  top: 349px;
  left: 1303px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text028 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text030 {
  top: 341px;
  left: 169px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle302 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1101 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1202 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame202 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text032 {
  top: 510px;
  left: 155px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop6 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle101 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle502 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle603 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle703 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle803 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle804 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient03 {
  top: -2px;
  left: -137px;
  width: 1803px;
  height: 690px;
  position: absolute;
}
.desktop1-text033 {
  top: 401px;
  left: 576px;
  color: rgba(255, 255, 255, 1);
  width: 526px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text035 {
  top: 344px;
  left: 389px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text037 {
  top: 346px;
  left: 1067px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text039 {
  top: 349px;
  left: 1270px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text041 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text043 {
  top: 341px;
  left: 169px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text045 {
  top: 356px;
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle303 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1102 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1203 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame203 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text047 {
  top: 501px;
  left: 154.7977294921875px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop7 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle102 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle503 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle604 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle704 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle805 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle806 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient04 {
  top: -2px;
  left: -52px;
  width: 1718px;
  height: 690px;
  position: absolute;
}
.desktop1-text048 {
  top: 405px;
  left: 667px;
  color: rgba(255, 255, 255, 1);
  width: 309px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text050 {
  top: 344px;
  left: 408px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text052 {
  top: 346px;
  left: 1009px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text054 {
  top: 350px;
  left: 1311px;
  color: rgba(255, 255, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text056 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text058 {
  top: 341px;
  left: 136px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text060 {
  top: 356px;
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle304 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1103 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1204 {
  top: 192px;
  left: 1057px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame204 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text062 {
  top: 501px;
  left: 155px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop9 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle103 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle504 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle605 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle705 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle807 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle808 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient05 {
  top: -2px;
  left: -14px;
  width: 1680px;
  height: 690px;
  position: absolute;
}
.desktop1-text063 {
  top: 393px;
  left: 638px;
  color: rgba(255, 255, 255, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text065 {
  top: 344px;
  left: 378px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text067 {
  top: 347px;
  left: 1056px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text069 {
  top: 350px;
  left: 1311px;
  color: rgba(255, 255, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text071 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text073 {
  top: 343px;
  left: 191px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text075 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle305 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1104 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1205 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame205 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text077 {
  top: 501px;
  left: 155px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop10 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle104 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle505 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle606 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle706 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle809 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle810 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient06 {
  top: -2px;
  left: -14px;
  width: 1680px;
  height: 690px;
  position: absolute;
}
.desktop1-text078 {
  top: 401px;
  left: 657px;
  color: rgba(255, 255, 255, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text080 {
  top: 343px;
  left: 427px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text082 {
  top: 346px;
  left: 1009px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text084 {
  top: 349px;
  left: 1291px;
  color: rgba(255, 255, 255, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text086 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text088 {
  top: 345px;
  left: 124px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text090 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle306 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1105 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1206 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame206 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text092 {
  top: 501px;
  left: 155px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop11 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle105 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle506 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle607 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle707 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle811 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle812 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient07 {
  top: -2px;
  left: -45px;
  width: 1711px;
  height: 690px;
  position: absolute;
}
.desktop1-text093 {
  top: 402px;
  left: 603px;
  color: rgba(255, 255, 255, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text095 {
  top: 343px;
  left: 427px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text097 {
  top: 346px;
  left: 1032px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text099 {
  top: 349px;
  left: 1270px;
  color: rgba(255, 255, 255, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text101 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text103 {
  top: 345px;
  left: 161px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text105 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle307 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1106 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1207 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame207 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text107 {
  top: 501px;
  left: 85px;
  color: rgb(167, 157, 157);
  width: 1387px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop12 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle106 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle507 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle608 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle708 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle813 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle814 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient08 {
  top: -2px;
  left: -14px;
  width: 1680px;
  height: 690px;
  position: absolute;
}
.desktop1-text108 {
  top: 401px;
  left: 542px;
  color: rgba(255, 255, 255, 1);
  width: 544px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text110 {
  top: 343px;
  left: 427px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text112 {
  top: 344px;
  left: 1009px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text114 {
  top: 349px;
  left: 1344px;
  color: rgba(255, 255, 255, 1);
  width: 118px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text116 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text118 {
  top: 345px;
  left: 161px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text120 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle308 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1107 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1208 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame208 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text122 {
  top: 494px;
  left: 146px;
  color: rgb(167, 157, 157);
  width: 1291px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop13 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle107 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle508 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle609 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle709 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle815 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle816 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient09 {
  top: -2px;
  left: -45px;
  width: 1711px;
  height: 690px;
  position: absolute;
}
.desktop1-text123 {
  top: 401px;
  left: 372px;
  color: rgba(255, 255, 255, 1);
  width: 961px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text125 {
  top: 338px;
  left: 391px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text127 {
  top: 344px;
  left: 1085px;
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text129 {
  top: 349px;
  left: 1270px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text131 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text133 {
  top: 345px;
  left: 161px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text135 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle309 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1108 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1209 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame209 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text137 {
  top: 501px;
  left: 89px;
  color: rgb(167, 157, 157);
  width: 1372px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop14 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle108 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle509 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle610 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle710 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle817 {
  top: 134px;
  left: 1530px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle818 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient10 {
  top: -2px;
  left: -14px;
  width: 1680px;
  height: 690px;
  position: absolute;
}
.desktop1-text138 {
  top: 403px;
  left: 704px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text140 {
  top: 338px;
  left: 391px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text142 {
  top: 344px;
  left: 1009px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text144 {
  top: 349px;
  left: 1270px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text146 {
  top: 353px;
  left: 1530px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text148 {
  top: 345px;
  left: 161px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text150 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle310 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1109 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1210 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame210 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text152 {
  top: 501px;
  left: 105px;
  color: rgb(167, 157, 157);
  width: 1372px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop15 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle109 {
  top: 124px;
  left: 124px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle510 {
  top: 122px;
  left: 378px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle611 {
  top: 126px;
  left: 1009px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle711 {
  top: 132px;
  left: 1270px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle819 {
  top: 134px;
  left: -137px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient11 {
  top: -2px;
  left: -14px;
  width: 1641px;
  height: 690px;
  position: absolute;
}
.desktop1-text153 {
  top: 408px;
  left: 222px;
  color: rgba(255, 255, 255, 1);
  width: 1224px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text155 {
  top: 338px;
  left: 448px;
  color: rgba(255, 255, 255, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text157 {
  top: 344px;
  left: 1009px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text159 {
  top: 351px;
  left: 1298px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text161 {
  top: 347px;
  left: 124px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text163 {
  top: 352px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle311 {
  top: 90px;
  left: 638px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1110 {
  top: 190px;
  left: 541px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1211 {
  top: 190px;
  left: 1067px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-frame211 {
  gap: 10px;
  top: 494px;
  left: 1616px;
  width: 1630px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text165 {
  top: 501px;
  left: 82px;
  color: rgb(167, 157, 157);
  width: 1416px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-desktop16 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle110 {
  top: 124px;
  left: 62px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle511 {
  top: 122px;
  left: 316px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle612 {
  top: 126px;
  left: 947px;
  width: 214px;
  height: 212px;
  position: absolute;
}
.desktop1-rectangle820 {
  top: 134px;
  left: -199px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-gradient12 {
  top: 13px;
  left: 0px;
  width: 1599px;
  height: 690px;
  position: absolute;
}
.desktop1-text166 {
  top: 408px;
  left: 444px;
  color: rgba(255, 255, 255, 1);
  width: 659px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text168 {
  top: 338px;
  left: 316px;
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text170 {
  top: 338px;
  left: 970px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text172 {
  top: 342px;
  left: 142px;
  color: rgba(255, 255, 255, 1);
  width: 118px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text174 {
  top: 352px;
  left: -53px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle312 {
  top: 90px;
  left: 576px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1111 {
  top: 190px;
  left: 479px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-untitleddesign1212 {
  top: 190px;
  left: 1005px;
  width: 71px;
  height: 97px;
  position: absolute;
}
.desktop1-text176 {
  top: 507px;
  color: rgb(167, 157, 157);
  right: 145px;
  width: 1365px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame212 {
  gap: 10px;
  top: 494px;
  left: 1492px;
  width: 1506px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-desktop17 {
  width: 100%;
  height: 933px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle111 {
  top: 124px;
  left: 62px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-rectangle512 {
  top: 122px;
  left: 316px;
  width: 213px;
  height: 212px;
  position: absolute;
}
.desktop1-gradient13 {
  top: 0px;
  left: -5px;
  width: 1617px;
  height: 699px;
  position: absolute;
}
.desktop1-rectangle821 {
  top: 134px;
  left: -199px;
  width: 214px;
  height: 211px;
  position: absolute;
}
.desktop1-text177 {
  top: 408px;
  left: 515px;
  color: rgba(255, 255, 255, 1);
  width: 490px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text179 {
  top: 338px;
  left: 320px;
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text181 {
  top: 342px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text183 {
  top: 352px;
  left: -53px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle313 {
  top: 90px;
  left: 576px;
  width: 323px;
  height: 297px;
  position: absolute;
}
.desktop1-untitleddesign1112 {
  top: 190px;
  left: 479px;
  width: 62px;
  height: 97px;
  position: absolute;
}
.desktop1-frame213 {
  gap: 10px;
  top: 494px;
  left: 1492px;
  width: 1506px;
  height: 164px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.desktop1-text185 {
  top: 501px;
  left: 116px;
  color: rgb(167, 157, 157);
  width: 1268px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: "Inria Serif";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
